.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  background-color: #FFFFFF;
  z-index: 1000;
  border-bottom: 1px solid #E9ECEF;
  cursor: default;
}

.header-container {
  /* max-width: 1200px; */
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-menu{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1200px;
  margin-left: 2.4rem;
  /* margin: 0 auto; */
  
}

.logo {
  justify-content: flex-end;
  height: 70px;
}

.logo img {
  height: 100%;
  width: auto;
}

.nav-menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 5rem;
}

.nav-menu a {
  text-decoration: none;
  color: #000000 ;
  font-weight: 500;
  font-size: 0.95rem;
  transition: color 0.2s ease;
  border-radius: 5px;
  padding: 4px;
  cursor: pointer;
}

.nav-menu.active{
  color:#495057;
  background-color:  #F5F5F5 ;
}

.nav-menu a:hover {
  color:#1E1E1E;
  background-color: #E9ECEF;
}

.Button{
  cursor: pointer;
}

.JoinUs{
  position: relative;
  justify-content: flex-end;
  width: 110px;
  height: 35px;
  background-color: #FFFFFF;
  border: 2px solid black;
  border-radius: 20px;
  transition: ease 0.5s;
  color: #000000 ;
  font-weight: 500;
  font-size: 0.95rem;
  overflow: hidden;
  z-index: 0;
}

.JoinUs span{
  cursor: pointer;
}

/* .JoinUs::before{
  border-radius: 20px;
  content: "";
  position: absolute;
  top: 0; bottom: 0;
  right: 100%; /* başta tamamen sağda gizli  
  width: 0;
  background: black;
  transition: width 0.4s ease, right 0.4s ease;
  z-index: 0;
} 

.Button.JoinUs span{
  position: relative;
  z-index: 2;
}

.JoinUs:hover::before {
  color: #FFFFFF;
  width: 100%;
  right: 0;
} */



.JoinUs:hover{
  background-color: #000000;
  color: #FFFFFF;
  transition: ease 0.5s;
}

/* Menü ikonu (sadece mobilde görünür) */
.menu-icon {
  cursor: pointer;
  height: 30px;
}

.menu-icon img {
  width: 30px;
  height: 30px;
}

/* Masaüstü menü */
.nav-menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 5rem;
}

.responsive-navbar{
  display: none;
}

.r-navbar{
 opacity: 0;
 visibility: hidden;
}

:root{
  --color: #000000
}

/* Mobil görünüm */
@media only screen and (max-width: 768px) {
  .header-container{
    display: none;
    
  }

  .responsive-navbar{
    display: flex;
    align-items: center;
    width: 175%;
    height: 50px;
  }

  .menu-icon{
    /* display: flex;
    justify-content: flex-end; */
    /* align-items: center; */
    justify-self: flex-end;
    margin-left: 47%;
  }

  .menu-icon img{
    filter: brightness(0);
  }

  .r-logo img{
    position: relative;
    justify-self: flex-start;
    align-self: flex-start;
    margin-left: 1rem;
    height: 4.5rem;
    width: 4.5rem;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .r-navbar{
    /* display: none;  */
    position: fixed; 
    top: 0; 
    right: 0; 
    width: 70%; 
    height: 100%; 
    background-color: #fff; 
    z-index: 999; 
    padding: 2rem; 
    box-shadow: -2px 0 5px rgba(0,0,0,0.1); 
    transform: translateX(100%);

    visibility: hidden;
    transition: transform 0.8s ease, opacity .8s ease; 
  } 

  .close-icon{
    height: 30px;
    width: 30px;
    filter: brightness(0);
    margin-left: 2%;
  }

  .r-navbar ul li{
    text-decoration: none;
    list-style: none;
    padding: 1rem;
    margin-top: 1rem;
    font-family: 'Roboto', sans-serif;
    transition: ease 0.3s;
  }

  .r-navbar ul li:active{
    background-color: var(--color);
    color: #FFFFFF;
    transition: ease 0.2s;
  }

  /* Menü açık */
  .r-navbar.active{ 
    /* display: block;  */
    transform: translateX(0); 
    opacity: 1;
    visibility: visible;
}

}
