*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  background-color: #F6F6F6;
  cursor: default;
}

.hero-container {
  max-width: 800px;
  margin: 0 auto;
}

.hero-logo {
  margin-bottom: 1rem;
}

.main-logo {
  width: 220px;
  /* height: 220px; */
  object-fit: contain;
  /* filter: grayscale(100%); */
}

.hero-title {
  font-size: 4rem;
  font-weight: 1600;
  color: #191919;
  margin-bottom: 1rem;
}

.hero-subtitle {
  font-size: 1rem;
  font-weight: semi bold;
  color: #757575;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.hero-badges {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 2rem;
}

.badge {
  width: 90px;
  height: 90px;
  object-fit: contain;
  /* filter: grayscale(100%); */
  opacity: 1;
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 2rem;
  }

  .hero-subtitle {
    font-size: 1rem;
  }

  .main-logo {
    width: 100px;
    height: 100px;
  }
}
